#hiding-container {
    max-width: 1000px;
    background-color: #e8e8e8;
    margin-bottom: 20%;
}

.bi {
    font-size: 30px;
}

.bi-spotify {
    color: #1db954;
}

body {
    background-image: linear-gradient(#142A2E, #FEF9DD);
    margin-bottom: 100%;

}



#hidden-value {
visibility: hidden;

}

