{% extends 'base.html' %}
{% block content %}

<div id='search-bar' class="container-fluid text-center text-light p-5 pb-3">
    <div class="row">
        <div class="col">
            <h1 class="display-1"><i class="fa-solid fa-ticket pe-3"></i>Ticket Master</h1>
            <h4 class="display-5 fw-bold">Quickly find tickets around you</h4>
            <div class="col-lg-8 mx-auto pt-5">
                <form action="http://127.0.0.1:8000/ticketmaster/" method="post">  {# can't figure out url dynamic not hard coded #}
                    {% csrf_token %}
                    <div class="input-group mb-0">

                        <input type="text" class="form-control" name="genre"
                               placeholder="Search by genre, artist, or event" id="genre-input"
                               aria-label="genre-input" aria-describedby="button-addon2">
                        <input type="text" class="form-control" name="city" id="city-input"
                               placeholder="Enter a city e.g., Hartford"
                               aria-label="city-input" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary btn-danger text-light" type="submit"
                                id="button-addon2">
                            SEARCH
                        </button>
                    </div>
                </form>
                {% if error == "input" %}
                    <div id='warning' class="alert alert-danger text-start m-3" role="alert">
                        {{ message }}
                     </div>
                {% endif %}

            </div>

        </div>

    </div>
</div>

<div>
    {% block events %}
    {% endblock %}
</div>
{% endblock %}


